@model MedicamentApp.ViewModels.AddRecipesViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Добавить рецепт</title>
    <style>
        .btn-primary {
            display: block;
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: #FFA8C6;
            color: #fff;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

            .btn-primary:hover {
                background-color: #FF8C69;
            }

        .btn-secondary {
            background-color: #6c757d;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            text-decoration: none;
            display: inline-block;
            transition: background-color 0.3s ease;
            margin-top: 5px;
        }

            .btn-secondary:hover {
                background-color: #495057;
            }
    </style>
</head>
<body>
    <h2>Добавить рецепт</h2>
    <form asp-action="Index" method="post">
        <div>
            <label asp-for="Идентификатор"></label>
            <input asp-for="Идентификатор" />
            <span asp-validation-for="Идентификатор"></span>
        </div>
        <div>
            <label asp-for="Дата_назначения"></label>
            <input asp-for="Дата_назначения" type="date" />
            <span asp-validation-for="Дата_назначения"></span>
        </div>
        <div>
            <label asp-for="Идентификатор_лекарства"></label>
            <input asp-for="Идентификатор_лекарства" />
            <span asp-validation-for="Идентификатор_лекарства"></span>
        </div>
        <div>
            <label asp-for="ФИО_лечащего_врача"></label>
            <input asp-for="ФИО_лечащего_врача" />
            <span asp-validation-for="ФИО_лечащего_врача"></span>
        </div>
        <div>
            <label asp-for="Адрес_больницы"></label>
            <input asp-for="Адрес_больницы" />
            <span asp-validation-for="Адрес_больницы"></span>
        </div>
        <button type="submit" class="btn-primary">Добавить</button>
    </form>
    <a href="/Home" class="btn-secondary">Вернуться на главную страницу</a>
</body>
</html>
