﻿@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="@Url.Content("~/css/home.css")">
</head>
<body style="background-image: url(" .. /images/background.jpg");">
    @section Header {
        <h1>MedFarm</h1>
    }
    <div class="text-container">
        <h1>Приветсвуем Вас на сайте "MedFarm"!</h1>
        <p><a href="@Url.Action("Login", "Account")">Войти</a> или <a href="@Url.Action("Register", "Account")">Зарегистрироваться</a></p>
    </div>
    @section Footer {
        <div>&copy; Значит, доктор Хэнк считает дневник — лекарством от всех болезней.</div>
    }
</body>
</html>