﻿@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="@Url.Content("~/css/home.css")">
</head>
<body style="height: 100vh; /* Высота контейнера */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;background-image: url('/images/background.jpg');font-family: 'Times New Roman', monospace;
    position: relative;">
    @section Header {
        <h1>MedFarm</h1>
    }
    <div class="text-container">
        <p>Приветсвуем Вас на сайте "MedFarm"!</p>
        <p><a href="@Url.Action("Login", "Account")">Войти</a> или <a href="@Url.Action("Register", "Account")">Зарегистрироваться</a></p>
    </div>
    @section Footer {
        <div>&copy; Значит, доктор Хэнк считает дневник — лекарством от всех болезней.</div>
    }
</body>
</html>