@model MedicamentApp.ViewModels.AddClientsViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Добавить клиента</title>
    <style>
        .btn-primary {
            display: block;
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: #FFA8C6;
            color: #fff;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

            .btn-primary:hover {
                background-color: #FF8C69;
            }

        .btn-secondary {
            background-color: #6c757d;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            text-decoration: none;
            display: inline-block;
            transition: background-color 0.3s ease;
            margin-top: 5px;
        }

            .btn-secondary:hover {
                background-color: #495057;
            }
    </style>
</head>
<body>
    <h2>Добавить клиента</h2>
    <form asp-action="Index" method="post">
        <div>
            <label asp-for="Идентификатор"></label>
            <input asp-for="Идентификатор" />
            <span asp-validation-for="Идентификатор"></span>
        </div>
        <div>
            <label asp-for="ФИО"></label>
            <input asp-for="ФИО" />
            <span asp-validation-for="ФИО"></span>
        </div>
        <div>
            <label asp-for="Дата_рождения"></label>
            <input asp-for="Дата_рождения" type="date" />
            <span asp-validation-for="Дата_рождения"></span>
        </div>
        <div>
            <label asp-for="Место_проживания"></label>
            <input asp-for="Место_проживания" />
            <span asp-validation-for="Место_проживания"></span>
        </div>
        <div>
            <label asp-for="СНИЛС"></label>
            <input asp-for="СНИЛС" />
            <span asp-validation-for="СНИЛС"></span>
        </div>
        <div>
            <label asp-for="Полис"></label>
            <input asp-for="Полис" />
            <span asp-validation-for="Полис"></span>
        </div>
        <button type="submit" class="btn-primary">Добавить</button>
    </form>
    <a href="/Home" class="btn-secondary">Вернуться на главную страницу</a>
</body>
</html>
